<app-left-nav>
<mat-card class="dashboad_wrapper">
  <mat-card-header>
    <span>
      <mat-card-title>Dashboard</mat-card-title>
      <mat-card-subtitle class="sub-tittle">Welocome to E-magazine Panel</mat-card-subtitle>
    </span>
    <button mat-flat-button class="addbutton"><i class="material-icons"> settings </i> Setting </button>
  </mat-card-header>

  <mat-card-content class="inner_wrap">
    <span class="inner_content_wrap revenue">
      <mat-card-subtitle >Total Revenue</mat-card-subtitle>
      <mat-card-title>242.50 <span><i class="material-icons">arrow_drop_up</i>105345</span></mat-card-title>
    </span>

    <span class="inner_content_wrap orders">
      <mat-card-subtitle>Orders</mat-card-subtitle>
      <mat-card-title>1.852 <span><i class="material-icons">arrow_drop_up</i>153</span></mat-card-title>
    </span>
    <span class="inner_content_wrap products">
      <mat-card-subtitle>Products</mat-card-subtitle>
      <mat-card-title>1.631<span><i class="material-icons">arrow_drop_up</i>1534</span></mat-card-title>
    </span>
    <span class="inner_content_wrap customers">
      <mat-card-subtitle>Customers</mat-card-subtitle>
      <mat-card-title> 1.356 <span><i class="material-icons">arrow_drop_up</i>427</span></mat-card-title>
    </span>
  </mat-card-content>

</mat-card>


  <mat-card class="dashboad_2nd_wrap">
  <mat-toolbar>
    <mat-toolbar-row class="upper_area">
      <span class="title">Revenue</span>

      <span class="date_range">
        From
      <mat-form-field >
        <mat-label>Select Date</mat-label>
        <input matInput [matDatepicker]="picker1">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      To
      <mat-form-field >
        <mat-label>Select Date</mat-label>
        <input matInput [matDatepicker]="picker2">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 color="primary"></mat-datepicker>
      </mat-form-field>
      <button mat-button [matMenuTriggerFor]="menu"><i class="material-icons">more_horiz</i></button>
      <mat-menu #menu="matMenu" class="menu23">
        <button mat-menu-item>Setting</button>
        <button mat-menu-item>Range</button>
      </mat-menu>
        </span>
    </mat-toolbar-row>
  </mat-toolbar>
    <div class="chart-container">
      <canvas id="lineChart" width="400" height="400"></canvas>
    </div>
  </mat-card>

  <mat-card class="dashboad_2nd_wrap table_wrapper">

    <mat-card-content class="table">
      <mat-toolbar-row class="table_inner_content">
        <mat-card-title>Recent Orders <span>This Week</span>  </mat-card-title>
        <span class="spacer"></span>
        <button class="dip_icon" mat-button [matMenuTriggerFor]="menu"><i class="material-icons">more_horiz</i></button>
        <mat-menu #menu="matMenu" class="menu23">
          <button mat-menu-item>Order Details </button>
          <button mat-menu-item>Pending Payment Order</button>
        </mat-menu>
      </mat-toolbar-row>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="invoice">
          <th mat-header-cell *matHeaderCellDef> Invoice No. </th>
          <td mat-cell *matCellDef="let element"> {{element.invoice}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="customer">
          <th mat-header-cell *matHeaderCellDef> Customer </th>
          <td mat-cell *matCellDef="let element"> {{element.customer}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="purchasedon">
          <th mat-header-cell *matHeaderCellDef> Purchased on </th>
          <td mat-cell *matCellDef="let element"> {{element.purchasedon}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="trackingid">
          <th mat-header-cell *matHeaderCellDef> Tracking Id </th>
          <td mat-cell *matCellDef="let element"> {{element.trackingid}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>


    </mat-card-content>
    <mat-card-content class="table">
      <mat-toolbar-row class="table_inner_content">
        <mat-card-title>Recent Orders <span>This Week</span>  </mat-card-title>
        <span class="spacer"></span>
        <button class="dip_icon" mat-button [matMenuTriggerFor]="menu"><i class="material-icons">more_horiz</i></button>
        <mat-menu #menu="matMenu" class="menu23">
          <button mat-menu-item>Order Details </button>
          <button mat-menu-item>Pending Payment Order</button>
        </mat-menu>
      </mat-toolbar-row>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="invoice">
          <th mat-header-cell *matHeaderCellDef> Invoice No. </th>
          <td mat-cell *matCellDef="let element"> {{element.invoice}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="customer">
          <th mat-header-cell *matHeaderCellDef> Customer </th>
          <td mat-cell *matCellDef="let element"> {{element.customer}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="purchasedon">
          <th mat-header-cell *matHeaderCellDef> Purchased on </th>
          <td mat-cell *matCellDef="let element"> {{element.purchasedon}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="trackingid">
          <th mat-header-cell *matHeaderCellDef> Tracking Id </th>
          <td mat-cell *matCellDef="let element"> {{element.trackingid}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>


    </mat-card-content>
  </mat-card>


  <mat-card class="dashboad_2nd_wrap ">

    <mat-card-content class="table">
      <mat-toolbar-row class="table_inner_content">
        <mat-card-title>Recent Orders <span>This Week</span>  </mat-card-title>
        <span class="spacer"></span>
        <button class="dip_icon" mat-button [matMenuTriggerFor]="menu"><i class="material-icons">more_horiz</i></button>
        <mat-menu #menu="matMenu" class="menu23">
          <button mat-menu-item>Order Details </button>
          <button mat-menu-item>Pending Payment Order</button>
        </mat-menu>
      </mat-toolbar-row>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="invoice">
          <th mat-header-cell *matHeaderCellDef> Invoice No. </th>
          <td mat-cell *matCellDef="let element"> {{element.invoice}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="customer">
          <th mat-header-cell *matHeaderCellDef> Customer </th>
          <td mat-cell *matCellDef="let element"> {{element.customer}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="purchasedon">
          <th mat-header-cell *matHeaderCellDef> Purchased on </th>
          <td mat-cell *matCellDef="let element"> {{element.purchasedon}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="trackingid">
          <th mat-header-cell *matHeaderCellDef> Tracking Id </th>
          <td mat-cell *matCellDef="let element"> {{element.trackingid}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>


    </mat-card-content>
  </mat-card>








</app-left-nav>