<app-left-nav>

  <mat-card class="add_magazine">
    <mat-card-header> Add Magzine</mat-card-header>
    <mat-card-content>

      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Add Name Here"  >
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Leave a comment"></textarea>
        </mat-form-field>
      </form>
      <button color="primary" mat-flat-button (click)="opendialog()">Add Magazine</button>

    </mat-card-content>
  </mat-card>

</app-left-nav>